{%  extends "base.html" %}

{% block users %}

    <title>Usuários</title>
    <main>
        <table>
            <tr>
                <th>Email</th>
                <th>Assunto</th>
                <th>Descrição</th>
            </tr>
            {%  for user in userDetails %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock %}

<ul>
    {% for user in userDetails %}
    <li>Email: {{ user[0] }}</li>
    <li>Assunto: {{ user[1] }}</li>
    <li>Descrição: {{ user[2] }}</li>
    {% endfor %}
</ul>